
/* Emil har sat root ind, sådan så at når man skal ændre farve, så kan man nemt finde dem, og hvis man ændre farve i root, så ændre den automatisk alle andre steder.*/
:root {
    --light-navy: #041E40;
    --dark-navy: #051326;
    --light-blue: #79AEF2;
    --white: white;
    --light-gray: #A6A6A6;
    --black: black;
    --basic-font: sans-serif,helvetica;
}

/* Emil har fjernet al padding og margin fra siden*/
* {
    padding: 0;
    margin: 0;
}
/*Emma start*/
/*Her ændrede Emma baggrundsfarven på siden*/
body {
    background-color:var(--light-gray);
}

/*Her ændrede Emma i overskriften (h2), ved at rykke den i midten og ændrede farve, font og størrelse*/
.overskrift { 
    text-align: center;
    font-size: 32px;
    color: var(--dark-navy);
    font-family: var(--basic-font);
    padding-top: 30px;
    padding-bottom: 30px;
}

/*Her ændrede Emma i teksten omkring virksomheden (p), ved at ændre font, størrelse, farve og position af teksten, samtidig tilføje baggrundsfarve i form af box*/
.tekstomvirksomhed {
    font-size: 14px;
    font-family: var(--basic-font);
    color: var(--white);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--light-navy);
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
}

/*Her ændrede Emma i billedet, ved at rykke det ind mod midten samt ændre størrelse og tilføje runde hjørner*/
img {
    width: 190px;
    height: auto;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
}

/* Her ændrede Emma i navnet på kunden (h2), ved at rykke det ind mod midten samt ændre font, størrelse og farve*/
.OmMig {
    text-align: center;
    font-size: 20px;
    color: var(--dark-navy);
    font-family: var(--basic-font);
    padding-bottom: 10px;
}

/*Her ændrede Emma i information om kunden (p), ved at ændre størrelse, font, farve, position, tilføje runde hjørner og tilføje baggrundsfarve i form af box*/
.hvemeralex {
    font-size: 14px;
    font-family: var(--basic-font);
    color: var(--white);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--light-navy);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}