
/* Emil har sat root ind, sådan så at når man skal ændre farve, så kan man nemt finde dem, og hvis man ændre farve i root, så ændre den automatisk alle andre steder.*/
:root {
    --light-navy: #041E40;
    --dark-navy: #051326;
    --light-blue: #79AEF2;
    --white: white;
    --light-gray: #A6A6A6;
    --black: black;
    --basic-font: sans-serif,helvetica;
}

/* Emil har fjernet al padding og margin fra siden*/
* {
    padding: 0;
    margin: 0;
}

body {
    background-color:var(--light-gray);
}

.overskrift { 
    text-align: center;
    font-size: 32px;
    color: var(--dark-navy);
    font-family: var(--basic-font);
    padding-top: 30px;
    padding-bottom: 30px;
}

.tekstomvirksomhed {
    font-size: 14px;
    font-family: var(--basic-font);
    color: var(--white);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--light-navy);
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
}

img {
    width: 190px;
    height: auto;
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
}

.OmMig {
    text-align: center;
    font-size: 20px;
    color: var(--dark-navy);
    font-family: var(--basic-font);
    padding-bottom: 10px;
}

.hvemeralex {
    font-size: 14px;
    font-family: var(--basic-font);
    color: var(--white);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--light-navy);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}