
/* Root sørger for vi har farverne ordnet, brug "var(--example)" til at hentyde til rooten, så hvis farverne senere ændres bliver de ændret overalt */
:root {
    --business-blue: #041E40;
    --black-blue: #051326;
    --work-blue: #79AEF2;
    --white: white;
    --grey-perfection: #A6A6A6;
    --black: black;
    --basic-font: helvetica,arial;
    --form-input: white;
}

/* Fjerner alt padding/margin fra siden */
* {
    padding: 0;
    margin: 0;
}

/* Sørger for at baggrunden er grå, fonten er den samme alle steder og at siden altid har en minimumshøjde som er enheden den bliver set på's højde */
body {
    background-color: var(--grey-perfection);
    font-family: var(--basic-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Fjerner alt standard styling fra links */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* Header start */

header {
    font-family: var(--basic-font);
    background-color: var(--business-blue);
    padding: 32px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.smartermind-logo {
    width: 150px;
}

.fa-solid {
    font-size: 60px;
    color: var(--white);
    margin: auto 0 auto 0;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navbarpc {
    display: none;
}

/* Header slut */


/* Dropdown start */

/* Gør så alle li elementer ikke har nogle liste styles */
li {
    list-style: none;
}

/* Gør sådan at dropdown menuen er gemt væk som standard */
.dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: var(--black-blue);
    width: 100%;
    transition: opacity 0.25s ease, visibility 0s linear 0.3s;
    margin-top: 160px;
}

/* Show classen er kun synlig efter der bliver trykkket på burger menuen */
.dropdown.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    margin-top: 160px;
}

.dropdown a {
    color: var(--white);
    text-decoration: none;
    font-family: var(--basic-font);
    display: block;
    font-size: 32px;
    padding: 12px;
    margin: 10px 16px 10px 16px;
    text-align: center;
}

.show {
    display: block;
}

/* Dropdown menu slut */


h1 {
    margin-top: 48px;
    text-align: center;
    color: var(--black-blue);
    margin-bottom: 32px;
}

h2 {
    margin-top: 16px;
    font-size: 20px;
    text-align: center;
    color: var(--black-blue);
}


/* Forside start */

.brain {
    width: 120px;
    margin: 0 auto 8px auto;
}

.mind {
    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
 
}

/* Forside slut */


/* Booking side start */

.blok {
    background-color: var(--business-blue);
    border-radius: 10px;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
    margin-top: 8px;
}

.blok p {
    margin: 10px;
}

.picbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--business-blue);
    border-radius: 10px;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
    margin-top: 8px;
    height: 160px;
}

.boks {
    font-size: 14px;
    text-align: center;
    width: 50%;
    padding: 4px;
    margin-top: auto;
    margin-bottom: auto;
}

.image-left {
    width: 100%;
    height: 160px;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.image-left-section {
    width: 50%;
}

.image-right {
    width: 100%;
    height: 160px;
    border-radius: 0 10px 10px 0; 
    object-fit: cover;
    object-position: 75%;
}

.image-right-section {
    width: 50%;
}

p {
    color: var(--white);
}

.booking-section {
    margin: 0 auto 0 auto;
    width: 320px;
    text-align: left;
}

.booking-button {
    font-size: 16px;
    padding: 4px;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin: 0 0 40px 0;
    color: var(--black-blue);
}

/* Booking side slut */


/* Kontakt side start */

.kontakt-section{
    margin: 40px auto 0 auto;
    width: 320px;
}

label {
    font-weight: 550;
    color:var(--black-blue);
}

input{
    background-color: var(--form-input);
    width: 100%;
    height: 30px;
    border-color: black;
    padding-left: 4px;
}

#besked{
    width: 100%;
    height: 100px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container p {
    color: var(--black-blue);
}

.container input {
    width: 80px;
    margin-right: 16px;
}

.send{
    text-align: right;
}

.send button{
    font-size: 20px;
    padding: 4px;
    border-radius: 10px;
    width: 150px;
    height: 45px;
    margin: 0 0 40px 0;
    color: var(--black-blue);
}

/* Kontakt side slut */


/*Henvendelse side*/

.tak{
    background-color: var(--business-blue);
    font-size: 20px;
    text-align: center;
    width: 320px;
    border-radius: 10px;
    margin: 25px auto 0 auto;
}

.tak p{
    color: var(--white);
    margin: 10px;
}

/*Henvendelse side*/



/* Om mig start */

.aleximage {
    width: 190px;
    height: auto;
    border-radius: 10px;
    margin: 32px auto 8px auto;
}

/* Om mig slut */


/* Footer start */

footer {
    text-decoration: none;
    background-color: var(--black-blue);
    padding: 4px 16px 32px 16px;
    color: var(--white);
    font-family: var(--basic-font);
    margin-top: auto;
}

footer h4 {
    margin-bottom: 8px;
    margin-top: 32px;
}

.email-link {
    color: var(--work-blue);
}

/* Footer slut */